
header {
  background-color: black;
  border-bottom: 2px solid rgb(78, 197,193);
  color: white;
  display: flex;
  flex: 0 1 auto;
  flex-direction: row;
  justify-content: space-between;
  box-shadow: 10px 0px 10px grey;
}

nav h1 {
  font-weight: 600;
  margin: .5rem 3rem .5rem .2rem;
  font-size: 1.75rem;
  display: flex;
  flex: 1 1 auto;
  align-self: center;
}

nav{
  display: flex;
  flex-direction: row;
  align-items: flex-end;
  justify-content: space-between;
  flex: 0 1 auto;
}

nav img {
  width: 2.25rem;
  height: 2rem;
  display: flex;
  flex: 1 1 auto;
  align-self: center;
  margin-left: 1.5rem;
}

nav ul {
  display: flex;
  flex-direction: row;
  flex: 1 0 auto;
  padding: 10px 10px 0px 10px;
  align-items: flex-end;
  flex: 0 1 auto;
}

main {
  display: flex;
  flex-direction: row;
  flex: 1 1 auto;
  align-items: center;
  justify-content: center;
}

nav li {
  color: white;
  list-style: none;
  border-radius: 10px 10px 0px 0px;
  font-size: 1.25rem;
  padding: 5px 20px;
}

nav li:hover {
  background-color: rgb(229, 228, 55);
}

header a {
  color: white;
  align-self: center;
  margin: 0 1.5rem;
}


.col {
  display: flex;
  flex-direction: column;
  flex: 0 1 auto;
}
