
.col-2 {
  display: flex;
  flex-direction: row;
  flex: 0 1 auto;
  margin: 3rem 0;
}

.upcoming {
  display: flex;
  flex-direction: column;
  flex: 1 0 auto;
  background-color: rgb(78, 197,193);
  border-radius: 15px;
  padding: 3rem;
}

.upcoming {
  align-self: center;
}
